{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    {{ if eq .Section "posts" }}
      {{ if not .Date.IsZero }}
      <div class="post-meta">
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ if and (.Lastmod.After .Date) (ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02")) }}
        <span class="post-updated">&middot; updated {{ .Lastmod.Format "January 2, 2006" }}</span>
        {{ end }}
      </div>
      {{ end }}
    {{ else }}
      {{ if not .Lastmod.IsZero }}
      <div class="post-meta">
        <time class="post-date" datetime="{{ .Lastmod.Format "2006-01-02" }}">Last updated {{ .Lastmod.Format "January 2, 2006" }}</time>
      </div>
      {{ end }}
    {{ end }}
    <div class="post-content">
      {{ .Content }}
    </div>
  </article>
{{ end }}
